main{
    padding: 50px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
h2{
    justify-content: left;
    color: lightseagreen;
    padding-top: 20px;
}
form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
button {
    padding: 20px;
}